$input-color: white;
$input-font-size: x-large;
$title-color: rgba(255, 255, 255, 0.7);
// $main-grid-template-columns: 2fr 1fr 5fr 1fr 2fr;
// $main-grid-template-rows: 1fr 2fr 1fr 6fr;
$main-grid-template: 
". . header . nav-button" 1fr
". . subheader . ." 2fr
". input input . ." 1fr
"list list list list list" 6fr/ 2fr 1fr 5fr 1fr 2fr;