@import "../../variables.scss";
section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: $main-grid-template;
}
h1 {
    color: $title-color;
    grid-area: header;
}
.wishlist {
    grid-area: nav-button;
}
form {
    grid-area: input;
    .book-name{
        width: 100%;
        font-size: $input-font-size;
        color: $input-color;
    }
}
.books-list {
    grid-area: list;
    overflow-y: scroll;
}
