section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 6fr;
    // grid-template-areas:
    //     ". . header . . nav-button"
    //     ". . . . ."
    //     ". search-bar search-bar . . ."
    //     "results"
}
h1 {
    color: white;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
form {
    grid-area: search-bar;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    .book-name{
        width: 100%;
        font-size: x-large;
    }
}
mat-list {
    grid-area: results;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}
