<section>
    <h1>Welcome, {{name}}</h1>
    <form  [formGroup]="bookForm" (keydown.enter)="search($event)">
        <mat-form-field class="book-name">
            <input formControlName="bookName" required matInput placeholder="Book">
            <mat-error 
                *ngIf="bookForm.controls.bookName.errors 
                && bookForm.controls.bookName.errors.required">
                Value is required
            </mat-error>
        </mat-form-field>
    </form>
    <mat-action-list dense *ngIf="books" class="books-list">
        <mat-list-item *ngFor="let book of books.items" (click)="showMore(book)" class="book">
            <!-- <mat-icon matListIcon>book</mat-icon> -->
            <img matListAvatar [src]="book.volumeInfo.imageLinks.smallThumbnail">
            <h4 matLine> {{book.volumeInfo.title}} </h4>
            <p matLine> {{book.volumeInfo.authors}} </p>
        </mat-list-item>
      </mat-action-list>
</section>
